# File được tạo bởi Maven và các IDE
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
*.iml
*.ipr
*.iws
.idea/

# File được tạo bởi Eclipse
.classpath
.project
.settings/
.DS_Store

# Log files
*.log
logs/

# File tạm thời
*.tmp